<% include ../header.ejs %>

<% include ../components/form.login.ejs %>

<div>
    <p style="color: red;">
        <% 
            for(var i = 0; i < 10; i++){
        %>
            <%= i %>
        <%
            }
        %>
    </p>
</p>