<% include ../header.ejs %>
  <div id="basicInfo">
    <div class="row line" >
        <div class="col-sm-4 col-md-4 col-lg-4 line">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 d-flex justify-content-center">
              <img class="logo img-responsive" style="height: 150px;" >
            </div>
        <div class="col-sm-4 col-md-4 col-lg-4 line" >
        </div>
    </div>
    <br>   
        <div id='no'></div>
        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3" >
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6" >
                <label>Choose School</label>   
                <select id="selectSchool" class="selectSchool form-control" name="selectedSchool" >
                    <option value="0">Select School</option>
                    <option value="1">Academy of Innovative Technology</option>
                    <option value="2">The Urban Assembly School for Collaborative Healthcare</option>
                    <option value="3">Brooklyn Lab</option>
                    <option value="4">Cypress Hills Collegiate Preparatory School</option>
                    <option value="5">Multicultural High School</option>
                </select>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
            </div>
        </div>
        <div class="main">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group has-feedback has-feedback-left">
                        <label class="control-label" name="tbEmail">School Email </label>
                        <input placeholder="user@domain.com" class="email form-control" name="tbEmail" />                     
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <label>School College Counselor: </label>
                    <input type="text" name="ssc" class="form-control" disabled>
                </select>
                </div> 
            </div>
            <div class="row">
                <div class="form-group col-sm-6 col-md-6 col-lg-6">
                    <label>OSIS #</label>
                    <input placeholder="###" type="number"class="osis form-control" name="osis"/>
                </div>
                <div class="line form-group col-sm-6 col-md-6 col-lg-6">
                    <label> Confirm OSIS # </label>
                    <input placeholder="###"  type="number" class="confirmOsis form-control" name="osisConfirm" />
                </div>
            </div>
            <div class="row"> 
                <div class="col-sm-12 col-md-12 col-lg-12 line">
                    <!-- TEMP FIX -->
                    <button style="float: right !important; color:white;"onclick="part2()" class="btn btn-success">Next Part</button>
                </div>
            </div>
        </div>
      </div>
      <br/>  
        <div id="dvStudent">
            <h3>Student's Information:</h3>
            <hr >
            <!-- NAME -->
            <div class="row">
              <div class=" col-sm-4 col-md-4 col-lg-4">
                <label class="">First Name </label><input id="fname" name="tbFirst" placeholder="First Name" class="form-control fname" />
              </div>
    
              <div class="col-sm-4 col-md-4 col-lg-4">
                <label class="">Middle Name </label><input id="mname" name="tbMiddle" placeholder="Middle Name" class=" mname studentMName form-control" />
              </div>
    
              <div class="col-sm-4 col-md-4 col-lg-4">
                <label class="">Last Name </label><input id="lname" name="tbLast" placeholder="Last Name" class="lname studentLName form-control" />
              </div>
    
            </div>
            <br>
    
            <div class="row">
              <div class="col-sm-2 col-md-2 col-lg-2">
                <label class="">School Grade </label><select id="grade" name="tbGrade" class="selectGrade grade form-control">
                <option value="0">Select Grade</option>
                <option value="1">11th</option>
                <option value="2">12th</option>
                </select>
              </div>
              
              <div class="col-sm-2 col-md-2 col-lg-2">
                  <!-- TEMP FIX -->
                  <label class=""> GPA </label><input id="gp" type="text" name="tbGPA" class="form-control gpa" placeholder="GPA" />
               </div>
    
              <div class="col-sm-4 col-md-4 col-lg-4">
                <label class="">Gender </label><select id="gender" name="tbGenderOption" class="gender selectGender form-control">
                <option value="0">Select Gender</option>
                <option value="1">Male</option>
                <option value="2">Female</option>
                <option value="3">Other</option>
                </select>
              </div>
              <div class="genderDiv col-sm-4 col-md-4 col-lg-4">
                
                   <label class=""> Write Your Gender </label><input id="sgen" placeholder="Gender" class="writeGender  form-control" name="tbWriteGender" />
              </div>
              
              
               </div>
               
             <br /><br /><br />
              
              <div class="row">
    
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <button id="partTwo" style="float: right !important;" class="btn btn-success" onclick="submit()">Register</button>
                </div>
              </div>
    
            </div>
    
           

            <script>
              
              var logo = ['placer',"aoit", "urban", "brooklyn", "CH", "multi"];
              var counselorsSelector = ['','Tony Wright Jr.','Sabrina Ally','Melissa Billings','Siiri Rikala','Kim Torres'];

              var counsel = document.querySelector("#selectSchoolCounselors");

              function el(name, all){
                if(all)
                  return document.querySelectorAll(name);
                return document.querySelector(name);
              }

              el("#selectSchool").onchange = function(){
                el(".logo").setAttribute("src", "/img/" + logo[parseInt(this.value)] + ".png");
                el("[name=ssc]").setAttribute("value", counselorsSelector[this.value]);
                $(".main").show();
              $(".logo").show();
              }
              
              $(".main").hide();
              $(".logo").hide();





$("#dvStudent").hide();
var data = {
    studentSchool: "",
    studentEmail: "",
    studentOsis: "",
    studentFirstName: "",
    studentMiddleName: "",
    studentLastName: "",
    studentGrade: "",
    studentGPA: "",
    studentGender: ""
};


function part2() {
    var errors = [];
    var studentSchool = $(".selectSchool").val();
    var partOneStatus = true;
    if (studentSchool > 0) {
        
    } else {
        partOneStatus = false;
        errors.push("School is not selected");
        console.log(studentSchool + " Part 1");
    }
    var studentEmail = $(".email").val();
    if (studentEmail.length > 0) {
        
    } else {
        partOneStatus = false;
        errors.push("Email is empty");
        console.log(studentEmail + " Part 2");
    }
    var studentOsis = $(".osis").val();
    var studentConfirmOsis = $(".confirmOsis").val();
    if (studentOsis.length === 9) {
        if (studentConfirmOsis === studentOsis) {
            
        }else {
            errors.push("Osis Does not match");
            partOneStatus=false;
        }
    } else {
        partOneStatus = false;
        errors.push("Osis is not the correct length");
        console.log(studentOsis + " " + studentConfirmOsis + " Part 3")
    }
    if (partOneStatus) {
        $("#dvStudent").show();
        $("#basicInfo").hide();
        data["studentSchool"] = studentSchool;
        data["studentEmail"] = studentEmail;
        data["studentOsis"] = studentOsis;
    } else {
        var errorMsg = "";
        for(var i = 0;i<errors.length; i++){
            
            var errorNum= i+1;
            errorMsg += "Error "+errorNum+": "+errors[i]+ '\r\n';
        }
        alert('Fix the following errors: \r\n'+errorMsg);
    }

};

function submit(){
    var errors = [];
    var partTwoStatus = true;
    var studentFirstName = $(".fname").val();
        if(studentFirstName.length > 0){

        }else{
            partTwoStatus = false;
            errors.push("Fill in first name");
        }
    var studentMiddleName = $(".mname").val();
        
    var studentLastName = $(".lname").val();
    if(studentLastName.length > 0){
        
    }else{
        partTwoStatus = false;
        errors.push("Fill in last name");
    }
    var studentGrade = $(".grade").val();
    if(studentGrade > 0){
        
    }else{
        partTwoStatus = false;
        errors.push("Fill in your Grade level");
    }
    var studentGPA = $(".gpa").val();
if(studentGPA.length > 0 ){
    if(studentGPA >= 0&& studentGPA <=4){
       
    }else{
        partTwoStatus = false;
        errors.push("Make sure it is in 4.0 scale ");
    }
}else{
    partTwoStatus = false;
    errors.push("Fill in GPA ");
}
    var studentGender = $(".gender").val();
    var StudentWritesGender = false;
    if(studentGender > 0){
        if(studentGender == 3){
            StudentWritesGender = true;
            var studentGenderWritten = $(".writeGender").val();
            if(studentGenderWritten.length > 0 ){

            }else{
                partTwoStatus = false;
                errors.push("Fill in your written Gender");
            }
        }else{
            
        }
    }else{
        partTwoStatus = false;
        errors.push("Select a gender");
    }

    if(partTwoStatus){
        alert("Finished")
        data["studentFirstName"] = studentFirstName;
            if(studentMiddleName !== undefined){
                data["studentMiddleName"] = studentMiddleName;
            }else{
                data["studentMiddleName"] = "";
            }
        data["studentLastName"] = studentLastName;
        data["studentGrade"] = studentGrade;
        data["studentGPA"] = studentGPA; 
            if(StudentWritesGender){
                data["studentGender"] = studentGender;
                data["StudentWritesGender"] = studentGenderWritten;
            }else{
                data["studentGender"] = studentGender;
            }
        

            fetch("http://localhost:8081/Account/Register", {
                method: 'POST', // or 'PUT'
                body: JSON.stringify(data), // data can be `string` or {object}!
                headers:{
                  'Content-Type': 'application/json'
                }
            }).then(res => { 
                  return res.json(); 
            }).then(response => 
                console.log('Success:', JSON.stringify(response)
            )).catch(error => console.error('Error:', error));



    }else{
        var errorMsg = "";
        for(var i = 0;i<errors.length; i++){
            
            var errorNum= i+1;
            errorMsg += "Error "+errorNum+": "+errors[i]+ '\r\n';
        }
        alert('Fix the following errors: \r\n'+errorMsg);
    }

}

//Profile JavaScript
$(".genderDiv").hide();

$("#gender").on("change", function() {

    if (this.value === "3") {
        $(".genderDiv").show();
        
    } else {
        $(".genderDiv").hide();
    }
});


            </script>

<% include ../footer.ejs %>