<html>
    <head>
        <title>
            <%= title %>
        </title>
        <meta name="viewport" content="device-width, initial-scale=1, shrink-to-fit=no">
    </head>
<body>

    <% include nav.ejs %>
    <main class="container">