<html>

<head>
    <title>
        <%= title %>
    </title>
    <meta name="viewport" content="device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>

    This is my header file
    <main class="container">